html,
body {
    height: 100%;
    background-image:linear-gradient(to bottom, #143046,#60a3bc);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar{
    background-color: #143046 !important;
}

.navbar-brand {
    padding:0px 15px !important;
}


.navbar-brand img {
    box-align:left !important;
    padding:0px 0px 0px;
    height: 50px;
}

.navbar-nav {
    flex-direction: row !important;
  }

.la {
    font-size: 14px !important;    
   
   padding-left: 100px !important;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 51px 0px 0px;    
    width: 100%;
    opacity: 88%;
}
.containerloja{
    padding: 30px 900px 40px;
    width: 70%;
    height: 30%;
}

.footer {
    height: 60px;
    background-color: #143046 !important;
    border-top: 1px solid #143046 !important;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
.pull-left{
    color: #ffffff !important;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151"
}

header-shadow{
    background-image: url('../img/intro-bg.jpg');
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.navbar-nav> .navbar-right{
    box-align:right !important;
}

.mt-4{
    text-align: center;
}

   /* Coded with love by Mutiullah Samim */
   body,
   html {
       margin: 0;
       padding: 0;
       height: 100%;
       /*background: #60a3bc !important;*/
   }
   .user_card {
       height: 450px;
       width: 385px;
       margin-top: 100px;
       margin-bottom: 80px;
       margin-left:35%;
       background: #143046;
       position: relative;
       display: flex;
       justify-content: space-around;
       flex-direction: column;
       padding: 70px;
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       border-radius: 5px;

   }

   .custom-control-label{
       color: white !important
   }

   .form-control {
       min-width: 220;
       width: 255px !important;
       color:black !important;
   }

   .links{
       color: white !important
   }

   .brand_logo_container {
       position: absolute;
       height: 170px;
       width: 190px;	
       top: -75px;
       border-radius: 50%;
       /*background: #60a3bc;*/
       padding: 10px;
       text-align: center;
   }
   .brand_logo {
       margin-left:39px;
       height: 150px;
       width: 150px;
       border-radius: 50%;
       background-color: #60a3bc !important;
       border: 3px solid #13e6de;
   }
   .form_container {
       margin-top: 100px;
   }
   .login_btn {
       width: 100%;
       background: #09EFE3 !important;
       color: white !important;
   }
   .login_btn:focus {
       box-shadow: none !important;
       outline: 0px !important;
   }
   .login_container {
       padding: 0 2rem;
   }
   .input-group-text {
       background: #09EFE3 !important;
       color: white !important;
       border: 0 !important;
       border-radius: 0.25rem 0 0 0.25rem !important;
   }
   .input_user,
   .input_pass:focus {
       box-shadow: none !important;
       outline: 0px !important;
   }
   .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
       background-color: #09EFE3 !important;
   }

   .user_card_registar {
    height: 40%;
    width: 80%;
    margin-top: 5%;
    margin-bottom: 20%;
    margin-left:5%;
    background: #143046;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;  

}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
     color: white !important;
}

p,
.p{
    color: white !important;
}

label,
.label{
    color: white !important;
}
